{
    "command": "/usr/sbin/keepalived -nld -p /var/run/keepalived.pid",
    "config_files": [
        {
            "source": "/var/lib/kolla/config_files/keepalived.conf",
            "dest": "/etc/keepalived/keepalived.conf",
            "owner": "root",
            "perm": "0644"
        }
    ]
}
