global:
    kolla:
        all:
            kubernetes_entrypoint: true
        cinder:
            volume_lvm:
                daemonset:
                    dependencies:
                        jobs:
                        - cinder-create-keystone-endpoint-public
                        - cinder-create-keystone-endpoint-internal
                        - cinder-create-keystone-endpoint-admin
                        - cinder-create-keystone-endpoint-publicv2
                        - cinder-create-keystone-endpoint-internalv2
                        - cinder-create-keystone-endpoint-adminv2
                        - cinder-create-keystone-endpoint-publicv3
                        - cinder-create-keystone-endpoint-internalv3
                        - cinder-create-keystone-endpoint-adminv3
                        - cinder-create-db
                        - cinder-manage-db
                        service:
                        - cinder-api
