listen_tcp = 1
listen_tls = 0
auth_tcp = "none"
ca_file = ""
log_level = 3

{% if std_logger %}
log_outputs = "3:stderr"
{% else %}
log_outputs = "3:file:/var/log/kolla/libvirt/libvirtd.log"
{% endif %}

listen_addr = "{{ api_interface_address }}"
