{%- set resourceName = kolla_kubernetes.cli.args.service_name %}

{%- if storage_provider != "ceph" %}
  # NO-OP for Non-Ceph storage providers

{%- else %}

apiVersion: v1
kind: Secret
metadata:
  name: {{ storage_ceph.secretName }}
data:
  # Create base64-encoded key:
  #   ssh ceph-mon cat /etc/ceph/ceph.client.admin.keyring | grep key | awk '{print $3}' | base64
  key: {{ storage_ceph.key }}

{%- endif %}
