apiVersion: batch/v1
kind: Job
metadata:
  name: neutron-bootstrap
  namespace: {{ kolla_kubernetes_namespace }}
spec:
  template:
    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - image: "{{ neutron_server_image_full }}"
          name: neutron-server
          env:
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: "{{ config_strategy }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: neutron-server-config
              readOnly: true
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
      volumes:
        - name: neutron-server-config
          configMap:
            name: neutron-server
            items:
            - key: neutron.conf
              path: neutron.conf
            - key: config.json
              path: config.json
            - key: ml2-conf.ini
              path: ml2_conf.ini
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
