apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: neutron-bootstrap
data:
  database_password: {{ database_password | b64encode }}
  neutron_keystone_password: {{ neutron_keystone_password | b64encode }}
  keystone_admin_password: {{ openstack_auth.password | b64encode }}
  openstack_neutron_auth: {{ ("{'openstack_neutron_auth':" + openstack_neutron_auth + "}") | b64encode }}
