apiVersion: batch/v1
kind: Job
metadata:
  name: neutron-role
  namespace: {{ kolla_kubernetes_namespace }}
spec:
  template:
    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - image: "{{ kolla_toolbox_image_full }}"
          name: main
          command: ["sh", "-c"]
          args:
            - /usr/bin/ansible localhost
                  -m kolla_keystone_user
                  -a "project=service
                      user=neutron
                      password=$NEUTRON_KEYSTONE_PASSWORD
                      role=admin
                      region_name={{ openstack_region_name }}
                      auth={{ '{{ openstack_neutron_auth }}' }}"
                  -e "{'openstack_neutron_auth':{{ openstack_neutron_auth }}}"
            - name: NEUTRON_KEYSTONE_PASSWORD
              valueFrom:
               secretKeyRef:
                  name: neutron-keystone-password
                  key: password
      volumes:
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
