apiVersion: batch/v1
kind: Job
metadata:
  name: neutron-endpoints
  namespace: {{ kolla_kubernetes_namespace }}
spec:
  template:
    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - image: "{{ kolla_toolbox_image_full }}"
          name: main 
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=neutron
               service_type=network
               description='Openstack Networking'
               endpoint_region={{ openstack_region_name }}
               url='{{ neutron_admin_endpoint }}'
               interface=admin
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_neutron_auth {{ '}}' }}"
               "-e" "{'openstack_neutron_auth':{{ openstack_neutron_auth }}}"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-neutron-service-and-endpoint-internal
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=neutron
               service_type=network
               description='Openstack Networking'
               endpoint_region={{ openstack_region_name }}
               url='{{ neutron_internal_endpoint }}'
               interface=internal
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_neutron_auth {{ '}}' }}"
               "-e" "{'openstack_neutron_auth':{{ openstack_neutron_auth }}}"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-neutron-service-and-endpoint-public
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=neutron
               service_type=network
               description='Openstack Networking'
               endpoint_region={{ openstack_region_name }}
               url='{{ neutron_public_endpoint }}'
               interface=public
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_neutron_auth {{ '}}' }}"
               "-e" "{'openstack_neutron_auth':{{ openstack_neutron_auth }}}"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-neutron-user-project-role
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_user -a
              "project=service
               user=neutron
               password=$NEUTRON_KEYSTONE_PASSWORD
               role=admin
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_neutron_auth {{ '}}' }}"
               "-e" "{'openstack_neutron_auth':{{ openstack_neutron_auth }}}"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
            - name: NEUTRON_KEYSTONE_PASSWORD
              valueFrom:
               secretKeyRef:
                  name: neutron-keystone-password
                  key: password
      volumes:
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
