apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ neutron_server_port }}
      protocol: TCP
      targetPort: {{ neutron_server_port }}
  selector:
    service: neutron
    type: server
metadata:
  name: neutron
  namespace: {{ kolla_kubernetes_namespace }}
