apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: openvswitch
  labels:
    component: openvswitch
    system: openvswitch
spec:
  template:
    metadata:
      name: openvswitch
      labels:
        component: openvswitch
        system: openvswitch
    spec:
      hostNetwork: True
      containers:
        - image: "{{ openvswitch_db_image_full }}"
          name: openvswitch-db-server
          securityContext:
            privileged: true
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: openvswitch-db-config
              readOnly: true
            - mountPath: /etc/openvswitch
              name: openvswitch-db
            - mountPath: /var/run/openvswitch
              name: openvswitch-run
            - mountPath: /run
              name: host-run
            - mountPath: /dev
              name: host-dev
            - mountPath: /etc/localtime
              name: host-etc-localtime
              readOnly: true

        - image: "{{ openvswitch_vswitchd_image_full }}"
          name: openvswitch-vswitchd
          securityContext:
            privileged: true
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: openvswitch-vswitchd-config
              readOnly: true
            - mountPath: /run
              name: host-run
            - mountPath: /dev
              name: host-dev
            - mountPath: /etc/localtime
              name: host-etc-localtime
              readOnly: true
            - mountPath: /lib/modules
              name: host-lib-modules
              readOnly: true

      volumes:
        - name: openvswitch-vswitchd-config
          configMap:
            name: openvswitch-vswitchd-configmap
        - name: openvswitch-db-config
          configMap:
            name: openvswitch-db-server-configmap
        - name: openvswitch-db
          hostPath:
            path: /etc/openvswitch
        - name: openvswitch-run
          hostPath:
            path: /run/openvswitch
        - name: host-run
          hostPath:
            path: /run
        - name: host-dev
          hostPath:
            path: /dev
        - name: host-etc-localtime
          hostPath:
            path: /etc/localtime
        - name: host-lib-modules
          hostPath:
            path: /lib/modules
        - name: kolla-logs
          emptyDir: {}
