apiVersion: v1
kind: ReplicationController
metadata:
  name: mariadb-bootstrap
spec:
  replicas: 1
  selector:
    app: mariadb
  template:
    metadata:
      name: mariadb-bootstrap
      labels:
        app: mariadb
    spec:
      hostNetwork: True
      containers:
        - image: "{{ mariadb_image_full }}"
          name: mariadb-bootstrap
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: mariadb-config
            - mountPath: /var/lib/mysql
              name: mariadb-persistent-storage
            - mountPath: /var/log/kolla
              name: kolla-logs
          env:
            - name: KOLLA_KUBERNETES_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
            #TODO: Replace with templated values
            - name: ETCD_HOST
              value: "127.0.0.1"
            - name: ETCD_PORT
              value: "4001"
            - name: DB_ROOT_PASSWORD
              value: {{ database_password }}
      volumes:
        - name: mariadb-config
          configMap:
            name: mariadb-configmap
        - name: mariadb-persistent-storage
          hostPath:
            path: /var/lib/mysql
        - name: kolla-logs
          emptyDir: {}
