apiVersion: batch/v1
kind: Job
spec:
  template:
    metadata:
      service: neutron
    spec:
      containers:
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-database
          command: ["sh", "-c"]
          args:
            - ansible localhost -m mysql_db -a
              "login_host=${MARIADB_SERVICE_HOST}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ neutron_database_name }}'"
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-user-permissions
          command: ["sh", "-c"]
          args:
            - ansible localhost -m mysql_user -a
              "login_host=${MARIADB_SERVICE_HOST}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ neutron_database_name }}'
               password='{{ neutron_database_password }}'
               host='%'
               priv='{{ neutron_database_name }}.*:ALL'
               append_privs='yes'"
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
        - image: "{{ neutron_server_image_full }}"
          name: neutron-server
          env:
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: "{{ config_strategy }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: neutron-server-config
              readOnly: true
            - mountPath: /var/log/kolla
              name: kolla-logs
      volumes:
        - name: neutron-server-config
          configMap:
            name: neutron-server-configmap
            items:
            - key: neutron.conf
              path: neutron.conf
            - key: config.json
              path: config.json
            - key: ml2-conf.ini
              path: ml2_conf.ini
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
metadata:
  name: neutron-bootstrap