{{- define "common_svc" }}
{{- $localVals := dict "nodePort" "node_port" }}
{{- $_ := set $localVals "nodePortEnabled" "node_port_enabled" }}
{{- $_ := set $localVals "portExternal" "port_external" }}
{{- if hasKey . "prefix" }}
{{- $_ := set $localVals "nodePort" (printf "%s_node_port" .prefix ) }}
{{- $_ := set $localVals "nodePortEnabled" (printf "%s_node_port_enabled" .prefix ) }}
{{- $_ := set $localVals "portExternal" (printf "%s_port_external" .prefix ) }}
{{- end }}
{{- $c1 := dict "key" $localVals.nodePortEnabled "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c1 "retDict" $localVals }}
{{- $_ := set $c1 "retKey" "node_port_enabled" }}
{{- $_ := include "kolla_val_get_raw" $c1 }}
{{- $c2 := dict "key" $localVals.portExternal "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c2 "retDict" $localVals }}
{{- $_ := set $c2 "retKey" "port_external" }}
{{- $_ := include "kolla_val_get_raw" $c2 }}
{{- $nodePort := include "kolla_val_get_str" (dict "key" $localVals.nodePort "searchPath" .searchPath "Values" .Values) }}
{{- $externalVip := include "kolla_val_get_str" (dict "key" "external_vip" "searchPath" .searchPath "Values" .Values) }}
{{- $securePort := add .element_port 1}}
{{- $enableTls := include "kolla_val_get_str" (dict "key" "enable_tls" "searchPath" .searchPath "Values" .Values) }}
apiVersion: v1
kind: Service
spec:
  ports:
{{- if and $enableTls (hasKey .Values "tls") }}
    - port: {{ $securePort + 1 }}
      name: {{ printf "%s-secure" .element_name | quote }}
{{- end }}
    - port: {{ .element_port }}
      name: {{ .element_name | quote }}
{{- if $localVals.node_port_enabled }}
      nodePort: {{ $nodePort }}
  type: NodePort
{{- else if  $localVals.port_external }}
  externalIPs:
    - {{ $externalVip }}
{{- end }}
  selector:
    service: {{ .element_service | quote }}
{{- if .element_service_type }}
    type: {{ .element_service_type | quote }}
{{- end }}
metadata:
   name:  {{ .element_name | quote }}
{{- end }}
