{{- define "common_api_apache_deployment" }}
{{- $imagePullPolicy := include "kolla_val_get_str" (dict "key" "image_pull_policy" "searchPath" .searchPath "Values" .Values ) }}
{{- $containerConfigDirectory := include "kolla_val_get_str" (dict "key" "container_config_directory" "searchPath" .searchPath "Values" .Values ) }}
{{- $selectorKey := include "kolla_val_get_str" (dict "key" "selector_key" "searchPath" .searchPath "Values" .Values ) }}
{{- $selectorValue := include "kolla_val_get_str" (dict "key" "selector_value" "searchPath" .searchPath "Values" .Values ) }}
{{- $replicas := include "kolla_val_get_str" (dict "key" "replicas" "searchPath" .searchPath "Values" .Values ) }}
{{- $port := include "kolla_val_get_str" (dict "key" "port" "searchPath" .searchPath "Values" .Values ) }}
{{- $adminPort := include "kolla_val_get_str" (dict "key" "admin_port" "searchPath" .searchPath "Values" .Values ) }}
{{- $gracePeriodSeconds := include "kolla_val_get_str" (dict "key" "grace_period_seconds" "searchPath" .searchPath "Values" .Values ) }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
   name: {{ .resourceName }}
spec:
  replicas: {{ $replicas }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        service: {{ .serviceName }}
        type: {{ .serviceType }}
      annotations:
        kolla_upgrade: minor_rolling_safe
{{- if .extraAnnotations }}
{{- include .extraAnnotations . | indent 8 }}
{{- end }}
    spec:
#You've got 2 days to drain or figure out why it won't.
      terminationGracePeriodSeconds: {{ $gracePeriodSeconds }}
      nodeSelector:
          {{ $selectorKey }}: {{ $selectorValue | quote }}
      init-containers:
{{- include "common_dependency_container" . | indent 8 }}
{{- if .initContainers }}
{{- include .initContainers . | indent 8 }}
{{- end }}
      containers:
        - name: main
          image: {{ .imageFull | quote }}
          imagePullPolicy: {{ $imagePullPolicy | quote }}
          lifecycle:
            preStop:
              exec:
                command:
                  - apachectl -k graceful-stop
          volumeMounts:
{{ include "common_volume_mounts" . | indent 12 }}
            - mountPath: /var/lib/kolla-kubernetes/event
              name: kolla-kubernetes-events
            - mountPath: {{ $containerConfigDirectory }}
              name: service-configmap
{{- if .extraVolumeMounts }}
{{- include .extraVolumeMounts . | indent 12 }}
{{- end }}
{{- if .privileged }}
          securityContext:
            privileged: true
{{- end }}
          env:
{{ include "common_env_vars" . | indent 12 }}
          ports:
            - containerPort: {{ $port }}
              name: {{ .portName }}
{{- if eq .resourceName "keystone" }}
            - containerPort: {{ $adminPort }}
              name: keystone-admin
{{- end }}
{{- include "common_containers" . | indent 8 }}
      volumes:
{{- include "common_volumes" . | indent 8 }}
        - name: kolla-kubernetes-events
          emptyDir: {}
        - name: service-configmap
          configMap:
            name: {{ .resourceName }}
{{- if .extraConfigmapConfig }}
{{- include .extraConfigmapConfig . | indent 12 }}
{{- end }}
{{- if .extraVolume }}
{{- include .extraVolume . | indent 8 }}
{{- end }}
{{- end }}
