{{- define "joinListWithColon" -}}
{{- $local := dict "first" true }}
{{ range $k, $v := . }}{{ if not $local.first }},{{ end }}{{ $v }}{{ $_ := set $local "first" false }}{{ end }}
{{- end -}}

{{- define "init_container_header" }}
metadata:
  annotations:
    pod.beta.kubernetes.io/init-containers: '[
{{- end }}

{{- define "common_dependency_container_common" }}
{{- $imagePullPolicy := include "kolla_val_get_str" (dict "key" "image_pull_policy" "searchPath" .searchPath "Values" .Values ) }}
{{- $localVals := dict }}
{{- $c1 := dict "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c1 "key" "kubernetes_entrypoint" }}
{{- $_ := set $c1 "retDict" $localVals }}
{{- $_ := set $c1 "retKey" "kubernetes_entrypoint" }}
{{- $_ := include "kolla_val_get_raw" $c1 }}
{{- $c2 := dict "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c2 "key" "dependencies" }}
{{- $_ := set $c2 "retDict" $localVals }}
{{- $_ := set $c2 "retKey" "dependencies" }}
{{- $_ := include "kolla_val_get_raw" $c2 }}
{{- if $localVals.kubernetes_entrypoint }}
{
   "name": "dependencies",
   "image": {{ include "kubernetes_entrypoint_image_full" . | quote }},
   "imagePullPolicy": {{ $imagePullPolicy | quote }},
{{- if .extraDepVolumeMounts }}
   "volumeMounts": [
{{- include .extraDepVolumeMounts . | indent 6 }}
    ],
{{- end }}
   "env": [
{{- if .depsOverride }}
{{- include "depsOverride" . }}
{{- else }}
{{- range $k, $v := $localVals.dependencies }}
     {
       "name": {{ printf "dependency_%s" $k | upper | quote }},
       "value": {{  include "joinListWithColon" $v | quote }}
     },
{{- end }}
{{- end }}
     {
       "name": "NAMESPACE",
       "value": "{{ .Release.Namespace }}"
     }
   ]
{{- end }}
{{- end }}

{{- define "common_dependency_container_single" }}
{{- $localVals := dict }}
{{- $c1 := dict "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c1 "key" "kubernetes_entrypoint" }}
{{- $_ := set $c1 "retDict" $localVals }}
{{- $_ := set $c1 "retKey" "kubernetes_entrypoint" }}
{{- $_ := include "kolla_val_get_raw" $c1 }}
{{- include "common_dependency_container_common" . }}
{{- if $localVals.kubernetes_entrypoint }}
}
{{- end }}
{{- end }}

{{- define "common_dependency_container_multi" }}
{{- $localVals := dict }}
{{- $c1 := dict "searchPath" .searchPath "Values" .Values }}
{{- $_ := set $c1 "key" "kubernetes_entrypoint" }}
{{- $_ := set $c1 "retDict" $localVals }}
{{- $_ := set $c1 "retKey" "kubernetes_entrypoint" }}
{{- $_ := include "kolla_val_get_raw" $c1 }}
{{- include "common_dependency_container_common" . }}
{{- if $localVals.kubernetes_entrypoint }}
},
{{- end }}
{{- end }}

{{- define "init_container_tail" }}
]'
{{- end }}
