{{- define "common_create_user_job" }}
{{- $authURLBuilt := printf "%s://%s:%1.f" .Values.keystone_admin_protocol .Values.keystone_admin_svcname .Values.keystone_admin_port }}
{{- $authURLFull := .Values.keystone_admin_url | default $authURLBuilt }}
{{- $extra_no_proxy := .Values.keystone_admin_svcname }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .serviceName }}-create-keystone-user"
spec:
  parallelism: 1
  completions: 1
  template:
{{- include "init_container_header" . | indent 4 }}
{{- include "common_dependency_container_single" . | indent 10 }}
{{- include "init_container_tail" . | indent 4 }}
    spec:
      nodeSelector:
          {{ .Values.selector_key }}: {{ .Values.selector_value | quote }}
      containers:
        - image: {{ include "kolla_toolbox_image_full" . | quote }}
          name: main
          command: ["sh", "-xec"]
#FIXME the current kolla-toolbox is broken. This works around it for now.
          securityContext:
            runAsUser: 0
          args:
            - |
                pip install --upgrade python-openstackclient;
                USER_PROJECT_ID=$(/usr/bin/openstack project create --or-show --enable -f value -c id \
                    --domain="{{ .userDomain }}" \
                    --description="Service Project for {{ .Values.region }}/{{ .userDomain }}" \
                    "{{ .userProject }}");
                USER_ID=$(/usr/bin/openstack user create --or-show --enable -f value -c id \
                    --domain="{{ .userDomain }}" \
                    --project-domain "{{ .userProjectDomain }}" \
                    --project="${USER_PROJECT_ID}" \
                    --description "Service User for {{ .Values.region }}/{{ .userDomain }}/{{ .serviceName }}" \
                    --email="{{ .userName }}@{{ .userDomain | lower }}" \
                    --password="${KEYSTONE_PASSWORD}" \
                    "{{ .userName }}");
                USER_ROLE_ID=$(/usr/bin/openstack role create --or-show -f value -c id \
                    "{{ .userRole }}");
                /usr/bin/openstack role add \
                    --user="${USER_ID}" \
                    --user-domain="{{ .userDomain }}" \
                    --project-domain="{{ .userProjectDomain }}" \
                    --project="${USER_PROJECT_ID}" \
                    "${USER_ROLE_ID}"
          volumeMounts:
{{ include "common_volume_mounts" . | indent 12 }}
          env:
            - name: OS_USERNAME
              value: {{ .Values.keystone_admin_username | quote }}
            - name: OS_IDENTITY_API_VERSION
              value: "3"
            - name: OS_REGION_NAME
              value: {{ .Values.region | quote }}
            - name: OS_PROJECT_NAME
              value: {{ .Values.keystone_admin_project | quote }}
            - name: OS_AUTH_URL
              value: {{ $authURLFull | quote }}
            - name: OS_PROJECT_DOMAIN_NAME
              value: {{ .Values.keystone_admin_project_domain_name | default .Values.keystone_admin_domain_name }}
            - name: OS_USER_DOMAIN_NAME
              value: {{ .Values.keystone_admin_domain_name | default .Values.keystone_admin_domain_name }}
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
            - name: KEYSTONE_PASSWORD
              valueFrom:
               secretKeyRef:
                  name: {{ .serviceName }}-keystone-password
                  key: password
{{- with $env := dict "extra_no_proxy" $extra_no_proxy "Values" .Values }}
{{ include "common_proxy_vars" $env | indent 12 }}
{{- end }}
      volumes:
{{ include "common_volumes" . | indent 8 }}
      restartPolicy: OnFailure
{{- end }}
