{{- define "kolla_image_built_prefix" }}
{{/* FIXME temporary until all files get a common search path defined. */}}
{{- $localVals := dict "searchPath" ":global.kolla.all" }}
{{- if hasKey . "searchPath" }}
{{- $_ := set $localVals "searchPath" .searchPath }}
{{- end }}
{{- $dockerRegistry := include "kolla_val_get_str" (dict "key" "docker_registry" "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $dockerNamespace := include "kolla_val_get_str" (dict "key" "docker_namespace" "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $baseDistro := include "kolla_val_get_str" (dict "key" "base_distro" "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $installType := include "kolla_val_get_str" (dict "key" "install_type" "searchPath" $localVals.searchPath "Values" .Values) }}
{{- printf "%s/%s/%s-%s" $dockerRegistry $dockerNamespace $baseDistro $installType }}
{{- end }}

{{- define "kolla_build_image_full" }}
{{- prefix := include "kolla_image_built_prefix" . }}
{{/* FIXME temporary until all files get a common search path defined. */}}
{{- $localVals := dict "searchPath" ":global.kolla.all" }}
{{- if hasKey . "searchPath" }}
{{- $_ := set $localVals "searchPath" .searchPath }}
{{- end }}
{{- $imageTag := include "kolla_val_get_str" (dict "key" "image_tag" "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $specifiedTag := include "kolla_val_get_str" (dict "key" .tagName "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $tagBuilt := $specified_tag | default $image_tag }}
{{- $imageBuilt := printf "%s-%s:%s" $prefix .contName $tagBuilt }}
{{- $imageFull := include "kolla_val_get_str" (dict "key" .imageName "searchPath" $localVals.searchPath "Values" .Values) }}
{{- $imageFull | default $imageBuilt }}
{{- end }}

{{- define "kolla_toolbox_image_full" }}
{{- $c := dict "contName" "kolla-toolbox" }}
{{- $_ := set $c "imageName" "kola_toolbox_image_full" }}
{{- $_ := set $c "tagName" "kolla_toolbox_image_tag" }}
{{- include "kolla_build_image_full" $c }}
{{- end }}

{{- define "haproxy_image_full" }}
{{- $c := dict "contName" "haproxy" }}
{{- $_ := set $c "imageName" "haproxy_image_full" }}
{{- $_ := set $c "tagName" "haproxy_image_tag" }}
{{- include "kolla_build_image_full" $c }}
{{- end }}

{{- define "fluentd_image_full" }}
{{- $c := dict "contName" "fluentd" }}
{{- $_ := set $c "imageName" "fluentd_image_full" }}
{{- $_ := set $c "tagName" "fluentd_image_tag" }}
{{- include "kolla_build_image_full" $c }}
{{- end }}

{{- define "kubernetes_entrypoint_image_full" }}
{{- $c := dict "contName" "kubernetes-entrypoint" }}
{{- $_ := set $c "imageName" "kubernetes_entrypoint_image_full" }}
{{- $_ := set $c "tagName" "kubernetes_entrypoint_image_tag" }}
{{- include "kolla_build_image_full" $c }}
{{- end }}
