{{- define "joinListWithColon" -}}
{{ range $k, $v := . }}{{ if $k }},{{ end }}{{ $v }}{{ end }}
{{- end -}}

{{- define "init_contaner_header" }}
metadata:
  annotations:
    pod.beta.kubernetes.io/init-containers: '[
{{- end }}

{{- define "common_dependency_container" }}
{
{{- if .Values.kubernetes_entrypoint }}
   "name": "dependencies",
   "image": {{ include "kubernetes_entrypoint_image_full" . | quote }},
   "imagePullPolicy": {{ .Values.image_pull_policy | quote }},
   "env": [
     {
       "name": "NAMESPACE",
       "value": "{{ .Release.Namespace }}"
     },
{{- if .depsOverride }}
{{- include "depsOverride" . }}
{{- else }}
{{- range $k, $v := .Values.dependencies }}
     {
       "name": {{ $k | quote }},
       "value": {{  include "joinListWithColon" $v | quote }}
     },
{{- end }}
{{- end }}
     {
       "name": "COMMAND",
       "value": "exit 0"
     }
   ]
{{- end }}
}
{{- end }}

{{- define "init_contaner_tail" }}
]'
{{- end }}
