{%- set resourceName = kolla_kubernetes.cli.args.service_name %}
apiVersion: batch/v1
kind: Job
spec:
  template:
    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - image: "{{ rabbitmq_image_full }}"
          name: main
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: rabbitmq-config
            - mountPath: /var/lib/rabbitmq
              name: rabbitmq-persistent-storage
            - mountPath: /var/log/kolla
              name: kolla-logs
          env:
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
            - name: RABBITMQ_CLUSTER_COOKIE
              value: {{ rabbitmq_cluster_cookie }}
      volumes:
        - name: rabbitmq-config
          configMap:
            name: rabbitmq
        - name: rabbitmq-persistent-storage
          persistentVolumeClaim:
            claimName: {{ resourceName }}
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
metadata:
  name: rabbitmq-bootstrap
  namespace: {{ kolla_kubernetes_namespace }}
