{{- $elementName := printf "%s-mgmt" .Values.element_name }}
{{- $elementService := printf "%s-mgmt" .Values.element_name }}
{{- $searchPath := printf ":global.kolla.%s.svc:global.kolla.%s.all:global.kolla.rabbitmq.svc:global.kolla.rabbitmq.all:global.kolla.all" $elementName $elementName }}
{{- $elementPort := include "kolla_val_get_str" (dict "key" "mgmt_port" "searchPath" .searchPath "Values" .Values) }}
{{- with $env := dict "prefix" "mgmt" "element_port" $elementPort "element_name" $elementName "element_service" $elementService "Values" .Values "Release" .Release "searchPath" $searchPath }}
{{- include "common_svc" $env }}
{{- end }}
