apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ .Values.rabbitmq_management_port }}
      name: "{{ .Values.name }}-mgmt"
{{- if .Values.rabbitmq_management_nodeport }}
      nodePort: {{ .Values.rabbitmq_management_nodeport }}
  type: NodePort
{{- else if  .Values.rabbitmq_management_external }}
  externalIPs:
    - {{ .Values.kolla_kubernetes_external_vip }}
{{- end }}
  selector:
    service: {{ .Values.name }}-mgmt
metadata:
   name: "{{ .Values.name }}-mgmt"
