{{- $elementSearchPath := ":global.kolla.rabbitmq.svc:global.kolla.rabbitmq.all:global.kolla.all:global" }}
{{- $elementName := include "kolla_val_get_str" (dict "key" "element_name" "searchPath" $elementSearchPath "Values" .Values ) }}
{{- $searchPath := printf ":global.kolla.%s.svc:global.kolla.%s.svc.all:global.kolla.%s.all:global.kolla.rabbitmq.svc:global.kolla.rabbitmq.svc.all:global.kolla.rabbitmq.all:global.kolla.all" $elementName $elementName $elementName }}
{{- $elementService := $elementName }}
{{- $elementNameMgmt := printf "%s-mgmt" $elementName }}
{{- $elementServiceMgmt := printf "%s-mgmt" $elementName }}
{{- $elementPort := include "kolla_val_get_str" (dict "key" "mgmt_port" "searchPath" $searchPath "Values" .Values) }}
{{- with $env := dict "prefix" "mgmt" "element_port" $elementPort "element_name" $elementNameMgmt "element_service" $elementService "Values" .Values "Release" .Release "searchPath" $searchPath }}
{{- include "common_svc" $env }}
{{- end }}
