{{- $searchPath := ":global.kolla.neutron.server.deployment:global.kolla.neutron.server.all:global.kolla.neutron.all:global.kolla.all" }}
{{- $c := dict "searchPath" $searchPath "Values" .Values }}
{{- $_ := set $c "contName" "neutron-server" }}
{{- $_ := set $c "imageName" "image_full" }}
{{- $_ := set $c "tagName" "image_tag" }}
{{- $imageFull := include "kolla_build_image_full" $c }}
{{- $resourceName := "neutron-server" }}
{{- $netHostTrue := false }}
{{- $podTypeBootstrap := false }}
{{- $serviceName := "neutron" }}
{{- $serviceType := "server" }}
{{- $configFileName := "neutron.conf" }}
{{- $configSectionName := "DEFAULT" }}
{{- $configListenHostParameter := "bind_host" }}
{{- $configListenPortParameter := "bind_port" }}
{{- $portName := "neutron-server" }}
{{- $checkPath := "/" }}
{{- $extraConfigmapConfig := "neutron_server_extra_configmap_config" }}
{{- $privileged := false }}
{{- define "neutron_server_extra_configmap_config" }}
items:
- key: neutron.conf
  path: neutron.conf
- key: config.json
  path: config.json
- key: ml2_conf.ini
  path: ml2_conf.ini
- key: neutron_lbaas.conf
  path: neutron_lbaas.conf
- key: neutron_vpnaas.conf
  path: neutron_vpnaas.conf
{{- end }}
{{- with $env := dict "netHostTrue" $netHostTrue "podTypeBootstrap" $podTypeBootstrap "resourceName" $resourceName "serviceName" $serviceName "serviceType" $serviceType "configFileName" $configFileName "configSectionName" $configSectionName "configListenHostParameter" $configListenHostParameter "configListenPortParameter" $configListenPortParameter "portName" $portName "imageFull" $imageFull "checkPath" $checkPath "extraConfigmapConfig" $extraConfigmapConfig "privileged" $privileged "Values" .Values "Release" .Release "searchPath" $searchPath }}
{{- include "common_api_python_deployment" $env }}
{{- end }}
