apiVersion: batch/v1
kind: Job
spec:
  template:
    metadata:
      name: glance-generate
    spec:
      hostNetwork: True
      containers:
        - image: "{{ glance_api_image_full }}"
          name: glance-bootstrap
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: glance-api-config
            - mountPath: /var/lib/glance/
              name: glance-persistent-storage
            - mountPath: /var/log/kolla/
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
      volumes:
        - name: glance-api-config
          configMap:
            name: glance-api-configmap
        - name: glance-persistent-storage
          hostPath:
            path: /var/lib/kolla/glance
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
metadata:
  name: glance-bootstrap
