apiVersion: v1
kind: Pod
metadata:
   name: keystone
spec:
  hostNetwork: True
  containers:
    - image: "{{ keystone_image_full }}"
      name: keystone
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: keystone-config
        - mountPath: /var/log/kolla/keystone
          name: kolla-logs
      env:
        - name: KOLLA_KUBERNETES
          value: ""
        - name: KOLLA_CONFIG_STRATEGY
          value: "{{ config_strategy }}"
  volumes:
    - name: keystone-config
      configMap:
        name: keystone-configmap
    - name: kolla-logs
      emptyDir: {}