apiVersion: batch/v1
kind: Job
metadata:
  name: keystone-manage-db
  namespace: {{ kolla_kubernetes_namespace }}
spec:
  template:
    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      restartPolicy: OnFailure
      containers:
        - image: "{{ keystone_image_full }}"
          name: main
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: keystone-config
              readOnly: true
            - mountPath: /var/log/kolla
              name: kolla-logs
            - mountPath: /etc/localtime
              name: host-etc-localtime
          env:
            - name: KOLLA_KUBERNETES
              value: ""
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: "{{ config_strategy }}"
      volumes:
        - name: keystone-config
          configMap:
            name: keystone
        - name: host-etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
