apiVersion: v1
kind: Pod
spec:
  hostNetwork: True
  containers:
    - name: nova-api
      image: "{{ nova_api_image }}"
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: nova-api-config
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
    - name: nova-conductor
      image: "{{ nova_conductor_image }}"
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: nova-conductor-config
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
    - name: nova-scheduler
      image: "{{ nova_scheduler_image }}"
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: nova-scheduler-config
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
  volumes:
    - name: nova-control-config
      configMap:
        name: nova-control-config
metadata:
   name: nova-control
