apiVersion: batch/v1
kind: Job
spec:
  template:
    metadata:
      name: nova-compute-generate
    spec:
      containers:
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-nova-database-and-users
          command: ["sh", "-c"]
          args:
            - ansible localhost -vvvv -m mysql_db -a
              "login_host={{ nova_database_address }}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ nova_database_name }}'" &&
              ansible localhost -vvvv -m mysql_db -a
              "login_host={{ nova_api_database_address }}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ nova_api_database_name }}'" &&
              ansible localhost -m mysql_user -a
              "login_host={{ nova_database_address }}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ nova_database_name }}'
               password='{{ nova_database_password }}'
               host='%'
               priv='{{ nova_database_name }}.*:ALL'
               append_privs='yes'" &&
              ansible localhost -m mysql_user -a
              "login_host={{ nova_api_database_address }}
               login_port='{{ mariadb_port }}'
               login_user='{{ database_user }}'
               login_password='{{ database_password }}'
               name='{{ nova_api_database_name }}'
               password='{{ nova_api_database_password }}'
               host='%'
               priv='{{ nova_api_database_name }}.*:ALL'
               append_privs='yes'"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
        - image: "{{ nova_api_image_full }}"
          name: nova-api
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: nova-api-config
            - mountPath: /etc/localtime
              name: etc-localtime
            - mountPath: /lib/modules
              name: lib-modules
            - mountPath: /var/log/kolla
              name: kolla-logs
          env:
            - name: KOLLA_BOOTSTRAP
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-nova-endpoints
          command: ["sh", "-c"]
          args:
            - /usr/bin/ansible localhost -vvvv -m kolla_keystone_service
              -a "service_name=nova
                  service_type=compute
                  description='Openstack Compute'
                  endpoint_region={{ openstack_region_name }}
                  url='{{ nova_admin_endpoint }}'
                  interface='admin'
                  region_name={{ openstack_region_name }}
                  auth={{ '{{' }} openstack_nova_auth {{ '}}' }}"
              -e "{'openstack_nova_auth':{{ openstack_nova_auth }}}" &&
              /usr/bin/ansible localhost -vvvv -m kolla_keystone_service
              -a "service_name=nova
                  service_type=compute
                  description='Openstack Compute'
                  endpoint_region={{ openstack_region_name }}
                  url='{{ nova_internal_endpoint }}'
                  interface='internal'
                  region_name={{ openstack_region_name }}
                  auth={{ '{{ openstack_nova_auth }}' }}"
              -e "{'openstack_nova_auth':{{ openstack_nova_auth }}}" &&
              /usr/bin/ansible localhost -vvvv -m kolla_keystone_service
              -a "service_name=nova
                  service_type=compute
                  description='Openstack Compute'
                  endpoint_region={{ openstack_region_name }}
                  url='{{ nova_public_endpoint }}'
                  interface='public'
                  region_name={{ openstack_region_name }}
                  auth={{ '{{ openstack_nova_auth }}' }}"
              -e "{'openstack_nova_auth':{{ openstack_nova_auth }}}" &&
              /usr/bin/ansible localhost -vvvv
                  -m kolla_keystone_user
                  -a "project=service
                      user=nova
                      password={{ nova_keystone_password }}
                      role=admin
                      region_name={{ openstack_region_name }}
                      auth={{ '{{ openstack_nova_auth }}' }}"
                  -e "{'openstack_nova_auth':{{ openstack_nova_auth }}}"
          volumeMounts:
            - mountPath: /var/log/kolla
              name: kolla-logs
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
      volumes:
        - name: nova-api-config
          configMap:
            name: nova-api-configmap
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: kolla-logs
          emptyDir: {}
      restartPolicy: OnFailure
metadata:
  name: nova-control-bootstrap
