apiVersion: v1
kind: Service
spec:
  externalIPs:
    - {{ kolla_kubernetes_external_vip }}
  ports:
    - port: {{ nova_metadata_port }}
      name: nova-metadata
  selector:
    service: nova
    type: api
metadata:
   name: nova-metadata
