apiVersion: v1
kind: Service
spec:
  ports:
    - name: http
      port: 80
    - name: https
      port: 443
  selector:
    service: horizon-{{ horizon_version }}
metadata:
   name: horizon-{{ horizon_version }}
