apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ swift_container_server_port }}
  selector:
    name: swift-container
metadata:
   name: swift-container
   namespace: {{ kolla_kubernetes_namespace }}
