{{- $resourceName := "nova-create-keystone-user" }}
{{- $serviceName := "nova" }}
{{- $serviceType := "create-keystone-user" }}
{{- $elementName := .Values.element_name | default $serviceName }}
{{- $elementType := .Values.element_type | $serviceType }}

{{- $userName := .Values.nova_user  | default "nova" }}
{{- $userDomain := .Values.nova_domain | default "Default" }}
{{- $userProject := .Values.nova_project | default "service" }}
{{- $userProjectDomain := .Values.nova_project_domain | default "Default" }}
{{- $userRole := .Values.nova_role | default "admin" }}

{{- $netHostTrue := false }}
{{- $podTypeBootstrap := true }}

{{- with $env := dict "resourceName" $resourceName "serviceName" $serviceName "serviceType" $serviceType "elementName" $elementName "elementType" $elementType "podTypeBootstrap" $podTypeBootstrap "userName" $userName "userDomain" $userDomain "userProject" $userProject "userProjectDomain" $userProjectDomain "userRole" $userRole "Values" .Values "Release" .Release }}

{{- include "common_create_user_job" $env }}
{{- end }}
