apiVersion: v1
kind: ReplicationController
spec:
  replicas: {{ heat_engine_replicas }}
  selector:
      service: heat
      type: engine
  template:
    metadata:
      labels:
        service: heat
        type: engine
    spec:
      containers:
        - name: heat-engine
          image: "{{ heat_engine_image_full }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: heat-config
            - mountPath: /var/log/kolla/
              name: kolla-logs
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          ports:
            - containerPort: {{ heat_engine_port }}
              name: heat-engine
      volumes:
        - name: heat-config
          configMap:
            name: heat-engine-configmap
        - name: kolla-logs
          emptyDir: {}
metadata:
   name: heat-engine
