apiVersion: v1
kind: ReplicationController
spec:
  replicas: {{ heat_api_cfn_replicas }}
  selector:
      service: heat
      type: api-cfn
  template:
    metadata:
      labels:
        service: heat
        type: api-cfn
    spec:
      containers:
        - name: heat-api-cfn
          image: "{{ heat_api_cfn_image_full }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: heat-config
            - mountPath: /var/log/kolla/
              name: kolla-logs
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          ports:
            - containerPort: {{ heat_api_cfn_port }}
              name: heat-api-cfn
      volumes:
        - name: heat-config
          configMap:
            name: heat-api-cfn-configmap
        - name: kolla-logs
          emptyDir: {}
metadata:
   name: heat-api-cfn
