apiVersion: v1
kind: Service
spec:
  ports:
  - port: {{ elasticsearch_port }}
    protocol: TCP
    name: {{ kolla_kubernetes.template.vars.name }}
  selector:
    service: {{ kolla_kubernetes.template.vars.service }}
metadata:
   name: {{ kolla_kubernetes.template.vars.name }}
   namespace: {{ kolla_kubernetes_namespace }}
