{{- $resourceName := "mariadb" }}
{{- $elementSearchPath := ":global.kolla.mariadb.statefulset:global.kolla.mariadb.all:global.kolla.all:global" }}
{{- $elementName := include "kolla_val_get_str" (dict "key" "element_name" "searchPath" $elementSearchPath "Values" .Values ) }}
{{- $searchPath := printf ":global.kolla.%s.statefulset:global.kolla.%s.all:global.kolla.mariadb.statefulset:global.kolla.mariadb.statefulset.all:global.kolla.mariadb.all:global.kolla.all" $elementName $elementName }}
{{- $c := dict "searchPath" $searchPath "Values" .Values }}
{{- $_ := set $c "contName" "mariadb" }}
{{- $_ := set $c "imageName" "image_full" }}
{{- $_ := set $c "tagName" "image_tag" }}
{{- $imageFull := include "kolla_build_image_full" $c }}
{{- $imagePullPolicy := include "kolla_val_get_str" (dict "key" "image_pull_policy" "searchPath" $searchPath "Values" .Values ) }}
{{- $containerConfigDirectory := include "kolla_val_get_str" (dict "key" "container_config_directory" "searchPath" $searchPath "Values" .Values ) }}
{{- $selectorKey := include "kolla_val_get_str" (dict "key" "selector_key" "searchPath" $searchPath "Values" .Values ) }}
{{- $selectorValue := include "kolla_val_get_str" (dict "key" "selector_value" "searchPath" $searchPath "Values" .Values ) }}
{{- $port := include "kolla_val_get_str" (dict "key" "port" "searchPath" $searchPath "Values" .Values ) }}
{{- $databaseUser := include "kolla_val_get_str" (dict "key" "database_user" "searchPath" $searchPath "Values" .Values ) }}
{{- $netHostTrue := false }}
{{- $podTypeBootstrap := false }}
{{- with $env := dict "netHostTrue" $netHostTrue "podTypeBootstrap" $podTypeBootstrap "resourceName" $resourceName "Values" .Values "Release" .Release "searchPath" $searchPath }}
apiVersion: apps/v1beta1
kind: StatefulSet
spec:
  serviceName: {{ $elementName }}
  replicas: 1
  template:
    metadata:
      labels:
        service: {{ $elementName }}
    spec:
      nodeSelector:
          {{ $selectorKey }}: {{ $selectorValue | quote }}
      init-containers:
{{- include "common_dependency_container" $env | indent 8 }}
      containers:
        - image: "{{ $imageFull }}"
          imagePullPolicy: {{ $imagePullPolicy | quote }}
          name: main
          lifecycle:
            preStop:
              exec:
                command: ["mysqladmin -u {{ $databaseUser }} -p$DATABASE_PASSWORD shutdown"]
          volumeMounts:
{{- include "common_volume_mounts" $env | indent 12 }}
            - mountPath: {{ $containerConfigDirectory }}
              name: pod-main-config
            - mountPath: /var/lib/mysql
              name: mariadb-persistent-storage
          env:
{{- include "common_env_vars" . | indent 12 }}
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-password
                  key: password
          ports:
            - containerPort: {{ $port }}
              name: {{ $elementName | trunc 15 | quote }}
{{- include "common_containers" . | indent 8 }}
      volumes:
{{- include "common_volumes" . | indent 8 }}
        - name: pod-main-config
          configMap:
            name: {{ $elementName }}
        - name: mariadb-persistent-storage
          persistentVolumeClaim:
            claimName: {{ $elementName }}
metadata:
   name: {{ $elementName }}
{{- end }}
