apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ swift_object_server_port }}
  selector:
    name: swift-object
metadata:
   name: swift-object
   namespace: {{ kolla_kubernetes_namespace }}
