apiVersion: v1
kind: Pod
spec:
  hostNetwork: True
  containers:
    - name: glance-api
      image: "{{ glance_api_image_full }}"
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: glance-config
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
    - name: glance-registry
      image: "{{ glance_registry_image_full }}"
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: glance-config
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
  volumes:
    - name: glance-config
      configMap:
        name: glance-config
metadata:
   name: glance
