{%- set podTypeBootstrap = "yes" %}
{%- set resourceName = kolla_kubernetes.cli.args.resource_name %}
{%- import "services/common/common-lib.yml.j2" as lib with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: glance-endpoints
  namespace: {{ kolla_kubernetes_namespace }}
spec:
  parallelism: 1
  completions: 1
  template:
    spec:
      restartPolicy: OnFailure
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_controller %}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-glance-service-and-endpoint-admin
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=glance
               service_type=image
               description='Openstack Image'
               endpoint_region={{ openstack_region_name }}
               url='{{ glance_admin_endpoint }}'
               interface=admin
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_glance_auth {{ '}}' }}"
               "-e" "{'openstack_glance_auth':{{ openstack_glance_auth }}}"
          volumeMounts:
{{ lib.common_volume_mounts(indent=12) }}
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-glance-service-and-endpoint-internal
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=glance
               service_type=image
               description='Openstack Image'
               endpoint_region={{ openstack_region_name }}
               url='{{ glance_internal_endpoint }}'
               interface=internal
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_glance_auth {{ '}}' }}"
               "-e" "{'openstack_glance_auth':{{ openstack_glance_auth }}}"
          volumeMounts:
{{ lib.common_volume_mounts(indent=12) }}
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-glance-service-and-endpoint-public
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_service -a
              "service_name=glance
               service_type=image
               description='Openstack Image'
               endpoint_region={{ openstack_region_name }}
               url='{{ glance_public_endpoint }}'
               interface=public
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_glance_auth {{ '}}' }}"
               "-e" "{'openstack_glance_auth':{{ openstack_glance_auth }}}"
          volumeMounts:
{{ lib.common_volume_mounts(indent=12) }}
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
        - image: "{{ kolla_toolbox_image_full }}"
          name: creating-glance-user-project-role
          command: ["sh", "-c"]
          args:
            - ansible localhost -m kolla_keystone_user -a
              "project=service
               user=glance
               password={{ glance_keystone_password }}
               role=admin
               region_name={{ openstack_region_name }}
               auth={{ '{{' }} openstack_glance_auth {{ '}}' }}"
               "-e" "{'openstack_glance_auth':{{ openstack_glance_auth }}}"
          volumeMounts:
{{ lib.common_volume_mounts(indent=12) }}
          env:
            - name: ANSIBLE_NOCOLOR
              value: "1"
            - name: ANSIBLE_LIBRARY
              value: "/usr/share/ansible"
            - name: KEYSTONE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keystone-admin-password
                  key: password
      volumes:
{{ lib.common_volumes(indent=8) }}
