apiVersion: v1
kind: Service
spec:
  externalIPs:
    - {{ kolla_kubernetes_external_vip }}
  ports:
    - port: {{ glance_api_port }}
      name: glance-api
  selector:
    service: glance
    type: api
metadata:
   name: glance-api
