apiVersion: v1
kind: ReplicationController
spec:
  replicas: {{ glance_registry_replicas }}
  selector:
      service: glance
      type: registry
  template:
    metadata:
      labels:
        service: glance
        type: registry
    spec:
      containers:
        - name: glance-registry
          image: "{{ glance_registry_image_full }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: glance-config
            - mountPath: /var/log/kolla/
              name: kolla-logs
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          ports:
            - containerPort: {{ glance_registry_port }}
              name: glance-registry
      volumes:
        - name: glance-config
          configMap:
            name: glance-registry-configmap
        - name: kolla-logs
          emptyDir: {}
metadata:
   name: glance-registry
