apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ glance_api_replicas }}
  strategy:
{% if glance_backend_ceph == "yes" %}
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
{% else %}
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate
{% endif %}
  template:
    metadata:
      labels:
        service: glance
        type: api
    spec:
      containers:
        - name: haproxy
          image: "{{ haproxy_image_full }}"
          lifecycle:
            preStop:
              exec:
#FIXME move script into haproxy container
                command:
                - /bin/bash
                - -c
                - |
                  PID=$(</run/haproxy.pid) &&
                  kill -USR1 $PID &&
                  while true; do
                    sleep 1; ps -p $PID > /dev/null;
                    [ $! -ne 0 ] && break;
                  done
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: glance-haproxy-config
            - mountPath: /var/log/kolla/
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
          ports:
            - containerPort: {{ glance_api_port }}
              name: glance-api
        - name: api
          image: "{{ glance_api_image_full }}"
          volumeMounts:
            - mountPath: {{ container_config_directory }}
              name: glance-config
{% if glance_backend_ceph != "yes" %}
            - mountPath: /var/lib/glance/
              name: glance-persistent-storage
{% endif %}
            - mountPath: /var/log/kolla/
              name: kolla-logs
            - mountPath: /etc/localtime
              name: etc-localtime
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
      volumes:
        - name: glance-config
          configMap:
            name: glance-api-configmap
        - name: glance-haproxy-config
          configMap:
            name: glance-api-haproxy-configmap
{% if glance_backend_ceph != "yes" %}
        - name: glance-persistent-storage
          persistentVolumeClaim:
            claimName: {{ resourceName }}
{% endif %}
        - name: etc-localtime
          hostPath:
            path: /etc/localtime
        - name: kolla-logs
          emptyDir: {}
metadata:
   name: glance-api
