{%- set resourceName = kolla_kubernetes.cli.args.resource_name %}
{%- import "services/common/common-lib.yml.j2" as lib with context %}
apiVersion: apps/v1alpha1
kind: PetSet
metadata:
   name: cinder-backup
   namespace: {{ kolla_kubernetes_namespace }}
spec:
  serviceName: "cinder-backup"
  replicas: {{ cinder_backup_replicas }}
  template:
    metadata:
      labels:
        service: cinder-backup
        type: backup
      annotations:
        pod.alpha.kubernetes.io/initialized: "true"
        pod.alpha.kubernetes.io/init-containers: '[
          {
             "name": "initialize-cinder-volume",
             "image": "{{ kolla_toolbox_image_full }}",
             "command": [
                 "sh",
                 "-ce",
                 "cp -a /srv/configmap/..data/* /srv/pod-main-config/; "],
             "volumeMounts": [
                {
                   "name": "cinder-backup-configmap",
                   "mountPath": "/srv/configmap"
                },
                {
                   "name": "pod-main-config",
                   "mountPath": "/srv/pod-main-config"
                }
             ]
          },
          {
             "name": "initialize-cinder-logs",
             "image": "{{ cinder_backup_image_full }}",
             "command": [
                 "sh",
                 "-ce",
                 "mkdir /var/log/kolla/cinder ;
                  chown -R cinder: /var/log/kolla/cinder "],
             "volumeMounts": [
                {
                   "name": "kolla-logs",
                   "mountPath": "/var/log/kolla"
                }
             ]
          }
        ]'

    spec:
      nodeSelector:
{%- set selector = kolla_kubernetes_hostlabel_cinder_backup |
                       default(kolla_kubernetes_hostlabel_storage |
                         default(kolla_kubernetes_hostlabel_controller)
                       )
%}
          {{ selector.key }}: {{ selector.value }}
      containers:
        - name: main
          image: "{{ cinder_backup_image_full }}"
          volumeMounts:
{{ lib.common_volume_mounts(indent=12) }}
            - mountPath: /var/lib/kolla-kubernetes/event
              name: kolla-kubernetes-events
            - mountPath: {{ container_config_directory }}
              name: pod-main-config
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: {{ config_strategy }}
{{ lib.common_containers(indent=8) }}
      volumes:
{{ lib.common_volumes(indent=8) }}
        - name: kolla-kubernetes-events
          emptyDir: {}
        - name: pod-main-config
          emptyDir: {}
        - name: cinder-backup-configmap
          configMap:
            name: cinder-backup
