apiVersion: v1
kind: Pod
spec:
  hostNetwork: True
  containers:
    - image: "{{ mariadb_image_full }}"
      name: mariadb
      volumeMounts:
        - mountPath: {{ container_config_directory }}
          name: mariadb-config
        - mountPath: /var/lib/mysql
          name: mariadb-persistent-storage
        - mountPath: /var/log/kolla/
          name: kolla-logs
      env:
        - name: KOLLA_CONFIG_STRATEGY
          value: {{ config_strategy }}
        - name: ETCD_HOST
          value: "127.0.0.1"
        - name: ETCD_PORT
          value: "4001"
  volumes:
    - name: mariadb-config
      configMap:
        name: mariadb-configmap
    - name: mariadb-persistent-storage
      hostPath:
        path: /var/lib/kolla/mariadb
    - name: kolla-logs
      emptyDir: {}
metadata:
   name: mariadb