apiVersion: v1
kind: Service
spec:
  ports:
    - port: {{ mariadb_port }}
      name: mariadb
  selector:
    service: mariadb
  externalIPs:
    - {{ kolla_internal_vip_address }}
metadata:
   name: mariadb
   namespace: {{ kolla_kubernetes_namespace }}
