{{- define "common_pv" }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ if (empty .Values.pv_name) }} {{ .pvName }} {{ else }} {{ .Values.pv_name }} {{ end }}
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: {{ if (empty .Values.glance_volume_size_gb) }} {{ .volumeSizeGB }} {{ else }} {{ .Values.glance_volume_size_gb }} {{ end }}Gi
{{- if eq .storageProvider "host" }}
  hostPath:
    path: /var/lib/kolla/volumes/{{ .pvName }}

{{- else if eq .storageProvider "gce" }}
  gcePersistentDisk:
    pdName: {{ if (empty .Values.pv_name) }} {{ .pvName }} {{ else }} {{ .Values.pv_name }} {{ end }}
    fsType: {{ if (empty .Values.storage_provider_fstype) }} {{ .storageProviderFStype }} {{ else }} {{ .Values.storage_provider_fstype }} {{ end }}

{{- else if eq .storageProvider "ceph" }}
  rbd:
    monitors:
      {{- range .Values.ceph.monitors }}
      - {{ if contains ":" . }} {{ . | quote}} {{ else }} {{ printf "%s:6789" . | quote }} {{ end }}
      {{- end }}
    pool: {{ .Values.ceph.pool }}
    image: {{ .volumeName }}
    user: {{ .Values.ceph.user }}
    {{- if .Values.ceph.keyring }}
    {{- if gt (.Values.ceph.keyring|len)  0 }}
    keyring: {{ .Values.ceph.keyring }}
    {{- end }}
    {{- end }}
    {{- if .Values.ceph.secret_name }}
    {{- if gt (.Values.ceph.secret_name|len) 0 }}
    secretRef:
      name: {{ .Values.ceph.secret_name }}
    {{- end }}
    {{- end }}
    fsType: {{ if (empty .Values.storage_provider_fstype) }} {{ .storageProviderFStype }} {{ else }} {{ .Values.storage_provider_fstype }} {{ end }}
    readOnly: false
{{- end }}
{{- end }}
