apiVersion: v1
kind: Service
spec:
  ports:
  - port: {{ kibana_server_port }} 
    protocol: TCP
    targetPort: ui
  selector:
    service: {{ kolla_kubernetes.template.vars.service }}
    type: {{ kolla_kubernetes.template.vars.type }}
metadata:
   name: {{ kolla_kubernetes.template.vars.name }}
   namespace: {{ kolla_kubernetes_namespace }}
