{{- $searchPath := ":global.kolla.neutron.manage_db.job:global.kolla.neutron.manage_db.all:global.kolla.neutron.server.all:global.kolla.neutron.all:global.kolla.all" }}
{{- $c := dict "searchPath" $searchPath "Values" .Values }}
{{- $_ := set $c "contName" "neutron-server" }}
{{- $_ := set $c "imageName" "image_full" }}
{{- $_ := set $c "tagName" "image_tag" }}
{{- $imageFull := include "kolla_build_image_full" $c }}
{{- $resourceName := "neutron" }}
{{- $serviceName := "neutron-server" }}
{{- $podTypeBootstrap := true }}
{{- $extraConfigmapConfig := "neutron_extra_configmap_config" }}
{{- define "neutron_extra_configmap_config" }}
items:
- key: neutron.conf
  path: neutron.conf
- key: config.json
  path: config.json
- key: ml2_conf.ini
  path: ml2_conf.ini
- key: neutron_lbaas.conf
  path: neutron_lbaas.conf
- key: neutron_vpnaas.conf
  path: neutron_vpnaas.conf
{{- end }}
{{- with $env := dict "resourceName" $resourceName "serviceName" $serviceName "podTypeBootstrap" $podTypeBootstrap "imageFull" $imageFull "extraConfigmapConfig" $extraConfigmapConfig  "Values" .Values "Release" .Release "searchPath" $searchPath }}
{{- include "common_manage_db_job" $env }}
{{- end }}
