{{- $memcachedImageBuilt := printf "%s/%s/%s-%s-memcached:%s" .Values.docker_registry .Values.docker_namespace .Values.kolla_base_distro .Values.kolla_install_type .Values.memcached_image_tag | default .Values.kolla_tag }}
{{- $memcachedImageFull := .Values.memcached_image_full | default $memcachedImageBuilt }}
{{- $resourceName := "memcached" }}
{{- $netHostTrue := false }}
{{- $podTypeBootstrap := false }}
{{- $name :=  .Release.Name }}
{{- with $env := dict "netHostTrue" $netHostTrue "podTypeBootstrap" $podTypeBootstrap "resourceName" $resourceName "Values" .Values "Release" .Release }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
   name: {{ .Values.element_name }}
spec:
  replicas: {{ .Values.memcached_replicas }}
  template:
    metadata:
      labels:
        service: {{ .Values.element_name }}
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
{{- include "common_dependency_container_single" $env | indent 10 }}
        ]'
    spec:
      nodeSelector:
        {{ .Values.selector_key }}: {{ .Values.selector_value | quote }}
      containers:
        - image: "{{ $memcachedImageFull }}"
          name: main
          volumeMounts:
{{- include "common_volume_mounts" $env | indent 12 }}
            - mountPath: {{ .Values.container_config_directory }}
              name: memcached-config
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
          ports:
            - containerPort: {{ .Values.memcached_port }}
              name: {{ .Values.element_name }}
{{- include "common_containers" $env | indent 8 }}
      volumes:
{{- include "common_volumes" $env | indent 8 }}
        - name: memcached-config
          configMap:
            name: {{ .Values.element_name }}
{{- end }}
