{{- $resourceName := "memcached" }}
{{- $netHostTrue := false }}
{{- $podTypeBootstrap := false }}
{{- $name :=  .Release.Name }}
{{- $serviceName := "memcached" }}
{{- $serviceKind := "deployment" }}
{{- $elementName := .Values.element_name | default $serviceName }}
{{- with $env := dict "netHostTrue" $netHostTrue "podTypeBootstrap" $podTypeBootstrap "resourceName" $resourceName "serviceName" $serviceName "serviceKind" $serviceKind "elementName" $elementName "Values" .Values "Release" .Release }}
{{- $enabledStr := include "kolla_val_get" (dict "valName" "enabled" "env" $env ) }}
{{- $enabled := ne $enabledStr "false" }}
{{- $imagePrefix := include "kolla_image_built_prefix" $env }}
{{- $memcachedImageBuilt := printf "%s-memcached:%s" $imagePrefix .Values.memcached_image_tag | default .Values.kolla_tag }}
{{- $memcachedImageFull := .Values.memcached_image_full | default $memcachedImageBuilt }}
{{- $port := include "kolla_val_get" (dict "valName" "port" "env" $env ) }}
{{- $containerConfigDirectory := include "kolla_val_get" (dict "valName" "container_config_directory" "env" $env ) }}
{{- if $enabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
   name: {{ $elementName }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        service: {{ $elementName }}
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
{{- include "common_dependency_container_single" $env | indent 10 }}
        ]'
    spec:
      nodeSelector:
        {{ .Values.selector_key }}: {{ .Values.selector_value | quote }}
      containers:
        - image: "{{ $memcachedImageFull }}"
          name: main
          volumeMounts:
{{- include "common_volume_mounts" $env | indent 12 }}
            - mountPath: {{ $containerConfigDirectory }}
              name: memcached-config
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
          ports:
            - containerPort: {{ $port }}
              name: {{ $elementName }}
{{- include "common_containers" $env | indent 8 }}
      volumes:
{{- include "common_volumes" $env | indent 8 }}
        - name: memcached-config
          configMap:
            name: {{ $elementName }}
{{- end }}
{{- end }}
